*.csv
# .env file should also be ignored if not already
.env
.envportal-update.lock
__pycache__/
.tmp/
logs/
users.json
roles.json
tags.json
tag_categories.json
env_groups.json
org_readings.js
ip_auth_whitelist.txt
windows_auth_whitelist.txt
certs/
guacamole-drive/
*.pyc
**/bin/
**/obj/
**/publish/
tools/nssm.exe
tools/nssm.zip
tools/nssm-extract/
